cffi==1.15.1
cryptography==38.0.4
customtkinter==4.6.3
darkdetect==0.8.0
Pillow==9.3.0
pkutils @ git+https://github.com/Polshkrev/Utilities.git@06eed22b87f7137080c7dd5522382499c1698bce
pycparser==2.21
pyperclip3==0.4.1
python-i18n==0.3.9
pywin32==305
PyYAML==6.0
