cffi==1.15.1
cryptography==38.0.4
customtkinter==4.6.3
darkdetect==0.8.0
Pillow==9.3.0
polutil @ git+https://github.com/Polshkrev/Utilities.git@cb96c23383ceececfa0eb727aa8aa80fb299c81b
pycparser==2.21
pyperclip3==0.4.1
python-i18n==0.3.9
pywin32==305
PyYAML==6.0
